# fly.toml app configuration file generated for yaci-postgrest on 2025-11-22T00:20:53-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yaci-postgrest'
primary_region = 'sjc'

[build]

[env]
  PGRST_DB_ANON_ROLE = 'web_anon'
  PGRST_DB_SCHEMAS = 'api'
  PGRST_SERVER_PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  timeout = "5s"
  method = "GET"
  path = "/"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
